@layer theme, base, frosted_ui, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);
@import "@whop/react/styles.css" layer(frosted_ui);

/* biome-ignore lint/suspicious/noUnknownAtRules: this rule is imported from whop */
@config '../tailwind.config.ts';

:root {
  --background: #ffffff;
  --foreground: #171717;
}



body {
  background: var(--background);
  color: #000000 !important;
  /* Force black text */
  font-family: Arial, Helvetica, sans-serif;
}

/* Force all headings and paragraphs to be dark if they are using gray-900 */
.text-gray-900 {
  color: #111827 !important;
}

.text-gray-500 {
  color: #6b7280 !important;
}